#cards {
  margin-bottom: 70px;
}
#cards #cardBack {
  width: 75%;
  position: fixed;
  inset: 30px 0 0 75px;
  max-width: 281.25px;
}
#cards #cardFront {
  width: 75%;
  max-width: 281.25px;
  position: fixed;
  inset: 115px 0 0 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}