body {
  font-family: "Space Grotesk";
}
body #cards {
  margin-bottom: 70px;
}
body #cards #cardBack {
  width: 75%;
  position: fixed;
  inset: 30px 0 0 75px;
  max-width: 281.25px;
}
body #cards #cardFront {
  width: 75%;
  max-width: 281.25px;
  position: fixed;
  inset: 115px 0 0 16px;
}
body #cards #cvc {
  color: hsl(0, 0%, 100%);
  min-width: 21px;
  min-height: 15px;
  font-size: 10px;
  bottom: 127px;
  right: 55px;
  left: 297px;
  letter-spacing: 1px;
}
body #cards #numbers {
  top: -108px;
  left: 35px;
  min-width: 240px;
  min-height: 120px;
}
body #cards #numbers #credit, body #cards #numbers #name, body #cards #numbers #date {
  color: hsl(0, 0%, 100%);
}
body #cards #numbers img {
  max-width: 55px;
  margin-bottom: 35px;
}
body #cards #numbers #credit {
  font-size: 16px;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 2px;
}
body #cards #numbers div {
  font-size: 9px;
  letter-spacing: 2px;
}
body #inputs {
  /* Chrome, Safari, Edge, Opera: hide arrows */
  /* Firefox: hide arrows */
}
body #inputs .form-label {
  color: hsl(278, 68%, 11%);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
}
body #inputs input::-webkit-outer-spin-button,
body #inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body #inputs input[type=number] {
  -moz-appearance: textfield;
}
body #inputs input {
  border-color: hsl(270, 3%, 87%);
}
body #inputs .errorState {
  border-color: hsl(0, 100%, 66%);
}
body #inputs #errorDesc {
  color: hsl(0, 100%, 66%);
  position: relative;
  bottom: 10px;
}
body #inputs input[type=text]:hover,
body #inputs input[type=number]:hover {
  border-color: hsl(278, 68%, 11%);
}
body #inputs input::-moz-placeholder {
  color: hsl(279, 6%, 55%);
  font-weight: 500;
}
body #inputs input::placeholder {
  color: hsl(279, 6%, 55%);
  font-weight: 500;
}
body #inputs div.col div.row {
  margin-left: 0;
}
body #inputs button {
  padding: 12px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
}
body .attribution {
  font-size: 11px;
  text-align: center;
}
body .attribution a {
  color: hsl(228, 45%, 44%);
}