//Primary
$red: hsl(0, 100%, 66%);

//Neutral
$white: hsl(0, 0%, 100%);
$l-grey-violet: hsl(270, 3%, 87%);
$h-grey-violet: hsl(279, 6%, 55%);
$darkViolet: hsl(278, 68%, 11%);

//Typography
$font: 18px;
$weight: 500;

#cards {
    margin-bottom: 70px;
    #cardBack {
        width: 75%;
        position: fixed;
        inset: 30px 0 0 75px;
        max-width: 281.25px;
    }
    #cardFront {
        width: 75%;
        max-width: 281.25px;
        position: fixed;
        inset: 115px 0 0 16px;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}