//Primary
$red: hsl(0, 100%, 66%);

//Neutral
$white: hsl(0, 0%, 100%);
$l-grey-violet: hsl(270, 3%, 87%);
$h-grey-violet: hsl(279, 6%, 55%);
$darkViolet: hsl(278, 68%, 11%);

//Typography
$font: 18px;
$s-font: 13px;
$xs-font: 9px;
$letter-space: 2px;
$xs-letter-space: 1px;
$weight: 500;   

//width values
$max-width-cards: 281.25px;
body {
    font-family: "Space Grotesk";
    #cards {
        margin-bottom: 70px;
        #cardBack {
            width: 75%;
            position: absolute;
            inset: -210px 0 0 75px;
            max-width: $max-width-cards;
        }
        #cardFront {
            width: 75%;
            max-width: $max-width-cards;
            position: absolute;
            inset: -123px 0 0 16px;
        }
        #cvc {
            color: $white;
            min-width: 21px;
            min-height: 15px;
            font-size: 10px;
            bottom: 127px;
            right: 55px;
            left: 297px;
            letter-spacing: $xs-letter-space;
        }
        #numbers {
        top: -108px;
        left: 35px;
        min-width: 240px;
        min-height: 120px;
        #credit, #name, #date {
            color: $white;
        }
        img {
            max-width: 55px;
            margin-bottom: 35px;
        }
        #credit {
            font-size: 16px;
            font-weight: $weight;
            word-spacing: 1px;
            letter-spacing: $letter-space;
        }
        div {
            font-size: $xs-font;
            letter-spacing: $letter-space;
        }
        }
    }
    #inputs {
        margin-top: 40px;
        .form-label {
            color: $darkViolet;
            font-weight: 500;
            letter-spacing: $letter-space;
            font-size: $s-font;
        }
        /* Chrome, Safari, Edge, Opera: hide arrows */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox: hide arrows */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        input {
            border-color: $l-grey-violet;
        }
        .errorState {
            border-color: $red;
        }
        .errorDesc {
            color: $red;
            position: relative;
            bottom: 10px;
        }
        #dateField, #cvcField {
            bottom: 0;
        }
        input[type='text']:hover, 
        input[type='number']:hover {
            border-color: $darkViolet;
        }
        input::placeholder {
            color: $h-grey-violet;
            font-weight: $weight;
        }
        div.col {
            div.row {
                margin-left: 0;
            }
        }
        button {
            padding: 12px;
            background-color: $darkViolet;
            color: $white;
        }
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}
@media screen and (min-width: 375px) {
    input {
        max-width: 326px;
    }
    input[name='month'], input[name='year'] {
        max-width: 77.75px;
    }
    input[name='cvc'] {
        max-width: 151.5px;
    }
    #cvcField, #dateField {
        max-width: 175.5px;
    }
    #confirmField {
        max-width: 327px;
    }
}
@media screen and (min-width: 376px) {
    #root {
        display: flex;
        justify-content: center;  /* Center horizontally */
        align-items: center;      /* Center vertically */
    }
}
@media screen and (min-width: 576px) {
    .container-fluid-lg {
        display: flex;
        #cards {
            #cardBack {
                top: -300px;
                left: 30px;
                width: 100%;
            }
            #cvc {
                top: -232px;
                left: 252px;
            }
            #cardFront {
               top: -475px; 
               left: 20px;
               width: 100%;
            }
            #numbers {
                top: -458px;
            }
        }
        #cards {
            margin-bottom: 0;
            #bg-mobile {
                max-width: 346.55px !important;
            }
        }
        #inputs {
            margin-top: 90px;
            max-width: 400px !important;
            //margin-left: 60px !important;
            #dateAndCvcField {
                flex-direction: column;
            }
            .errorDesc {
                display: inline-block;
                max-width: 130px;
            }
        }
    }
}

@media screen and (min-width: 677px) {
    #inputs {
        #dateAndCvcField {
            flex-direction: row !important;
            /*
            #cvcField {
                position: relative;
                top: 20px;
            }
            */
            label[for="cvc"] {
                position: relative;
                top: 15px;
            }
            input[name="cvc"] {
                position: relative;
                top: 36px;
            }
            span[id="cvcField"] {
                position: relative;
                top: 36px;
            }
       } 
    }
}
@media screen and (min-width: 734px) {
    label[for="cvc"] {
        top: 5px !important;
    }
    input[name="cvc"] {
        top: 16px !important;
    }
    span[id="cvcField"] {
        top: 16px !important;
    }
}
/*
@media screen and (min-width: 611px) {
    #cards {
        #cvcNumbersField, #cardNumbersField {
            max-width: 325px;
        }
    }
}
    */